@font-face {
  font-family: 'VT323';
  src: url('/assets/fonts/VT323-Regular.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: black;
  max-width: 100vw;
  overflow-x: hidden;
}

canvas {
  width: 50vw;
  height: 28.125vw;
}

canvas#game-shadow {
  display: none;
}

canvas#game {
  background-color: rgb(4, 61, 37);
  max-width: min(177vh, 100vw);
  max-height: min(100vh, 56vw);
  image-rendering: pixelated;

  /* *** absolute positioning *** */

  width: 1408px;
  height: 792px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}