* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

canvas#game {
  background-color: black;
  width: 1408px;
  height: 792px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: min(177vh, 100vw);
  max-height: min(100vh, 56vw);
  image-rendering: pixelated;
}